.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: 0px;
  overflow: hidden;
}

circle {
  fill: rgb(139, 73, 205);
  opacity: 0.3;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 2.7em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 3em;
  fill: #8E8883;
}

.title {
  font-size: 3em;
  fill: rgb(55, 52, 50);
}

.line-path {
  fill: none;
  stroke: rgb(70, 33, 123);
  stroke-width: 3;
  stroke-linejoin: round;
}
